<!DOCTYPE html> 
<html>
    <head>
        <title>
            css 布局
        </title>
        <meta content="test/html" charset="utf-8">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="module.css">
    </head>
    <body>
        <div class="article_wrap wrap">
            <div class="message article_hd">
                <p class="img_wrap">
                    <span>
                        <img src="data/picture_data/hte.jpg">
                    </span>
                </p>
                <h3>
                    <span class="message_title">黑天鹅事件</span>
                </h3>
                <p class="p_class1">
                 <b>概述: </b> 非常难以预测，且不寻常的事件，通常会引起市场连锁负面反应甚至颠覆。
                </p>
                <p class="p_class1">
                   <b>特点:</b> 它具有意外性；它产生重大影响；虽然它具有意外性，但人的本性促使我们在事后为它的发生编造理由，并且或多或少认为它是可解释和可预测的。
                </p>
                <p class="p_class1">
                  <b>实例:</b> 黑天鹅存在于各个领域，无论金融市场、商业、经济还是个人生活，都逃不过它的控制。“灰犀牛”是与“黑天鹅”相互补足的概念，“灰犀牛事件”是太过于常见以至于人们习以为常的风险，“黑天鹅事件”则是极其罕见的、出乎人们意料的风险
                </p>
            </div>
            <div class="article_ft p_class1" style="font-size: small; text-align: end;">
                <address>
                    written by : <a href="mailto:2399121838@qq.com">fugitive</a>
                </address>
            </div>
        </div>
    </body>
</html>