*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.wrap {
    max-width: 500px;
    min-width: 350px;
    padding: 10vh 0 0 10vw;
}

