*{
    padding: 0;
    margin: 0;
}

.day{
    background-attachment: fixed;
}

#Suspendedball{
    cursor: pointer;
    font-size: 12px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #ff3400;
    bottom: 400px;
    right: 60px;
}

#Suspendedball p{
    width: 50px;
    height: 16px;
    margin: 17px 0;
    text-align: center;
}

body{
    position: relative;
    font-family: Microsoft YaHei,SimSun;
    width: 100%;
    background-image: url(//pcbrowser.dd.qq.com/pcbrowserbig/assets/navigate/img/day_cloud.png),linear-gradient(180deg,#0260ac,#3992e0 32%,#9ce0fe 60%,#eff9fd 70%);
}

html,body a{
    text-decoration: none;
}

#text{
    position: relative;
    width: 100%;
}

.head-wrapper{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 148px;
    margin-bottom: 30px;
} 

.head-wrapper .Toolbar{
    position: absolute;
    top: 20px;
    right: 0;
    width: 183px;
    height: 20px;
}

.head-wrapper .Toolbar a{
    text-decoration: none;
    display: block;
    float: left;
    height: 20px;
    font-size: 14px;
    color: #fff;
}

.Toolbar .aa{
    margin-right: 15PX;
}


.Toolbar .at1{
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/option_btn.png);
    background-position: -46px 0;
    width:19px;
}

.Toolbar .at2{
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/option_btn.png);
    background-position: -103px 0;
    width: 19px;
}

.Toolbar .at3{
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/option_btn.png);
    width: 19px;
    background-position: -164px 0;
}

.Toolbar .at4{
    border-left: 1px solid rgba(0,0,0,.2);
    width:66px;
    text-align: center;
}

.start{
    position: relative;
    min-width: 1152px;
    width: 1152px;
    height: 78.6px;
    margin: 0 auto;
}

.header .background-link{
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    width: 220px;
    height: 90px;
    background-image: url("http://pcbrowser.dd.qq.com/pcbrowserbig/cms/navigate/00f12613113973e3a4b2dffda2678224.png"); background-repeat: no-repeat; background-position: 50% 0px; position: absolute; width: 220px; height: 90px;
    background-repeat: no-repeat;
}

.start .a1{
    background-image: url(http://pcbrowser.dd.qq.com/pcbrowserbig/cms/navigate/00f1261….png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: block;
    float: left;
    width: 220px;
    height: 90px;
}

.header .weather{
    position: absolute;
    width: 150px;
    height: 46px;
    right: 0;
    top: 32px;
    padding: 7px 0;
}

.weather div{
    float: left;
    margin: 0;
}

.weather .img{
    width: 42px;
    height: 32px;
}

.weather .img p img{
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.weather .txt{
    width: 108px;
    height: 32px;
}

.weather p{
    float: left;
    margin-right: 8px;
}

.weather div{
    float: left;
}

.rgh-down a:link{
    color: #333;
}

.weather .txt p{
    font-size: 12px;
    color: #fff;
    float: left;
    height: 16px;
}

.weather .txt .pp1{
    cursor: pointer;
    width: 36px;
}

.weather .txt .pp2{
    margin: 0 10px;
    width: 12px;
}

.weather .txt .pp3{
    width: 14.08px;
    margin-top: 1.5px;
}

.weather .txt .pp4{
    width: 79.02px;
}

#search-area{
   position: relative;
    margin: 30px auto;
    width: 660px;
    height: 76.8px;
    display: block;
}

#search-area .search-frame{
    position: relative;
    width: 660px;
    height: 46px;
    transform: translate(50% 50%);
}

#search-area input{
    outline: 0;
    border: 0;
}

.frame {
    box-sizing: border-box;
    padding: 0 80px 0 15px;
    border: 1px solid #ccc;
    width: 540px;
    height: 46px;
    float: left;
    border-radius: 4px 0 0 4px;
}

.search-engine{
    position: absolute;
    width: 100px;
    height: 46px;
    right: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#search-area .btn{
    border-radius: 0 4px 4px 0;
    background-color: #08f;
    color: #fff;
    display: block;
    width: 120px;
    height: 46px;
    float: left;
    cursor: pointer;
}

#search-area .area-keyword a{
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    display: block;
    float: left;
    height: 20px;
    margin: 15px 20px 0 0;
    padding-top: 1.5px;
}

#search-area .area-keyword a:hover{
    color: hsla(0,0%,100%,.8);
}

.area-keyword .aa1{
    width: 56px;
}

.area-keyword .aa2{
    width: 70px;
}

.area-keyword .aa3{
    width: 90px;
}

.area-keyword .aa5{
    padding: 0 0 0 22px;
    background-image: url(http://pcbrowser.dd.qq.com/pcbrowserbig/cms/navigate/60ddda80c0f18f18a849057f654ead31.png);padding: 0 0 0 18px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.area-keyword .aa4{
    padding: 0 0 0 17px;
    background-image: url(http://pcbrowser.dd.qq.com/pcbrowserbig/cms/navigate/167eecf0c9d3645d095169c5d4a4b651.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.wrapper {
    position: relative;
    width: 1152px;
    height: 2600px;
    margin: 7.5px auto;
}

.wrapper .w-lft{
    border-radius: 6px 6px 0 0;
    width: 810px;
    background-color: hsla(0,0%,100%,.7);
}    

#CONTENT1{
    border-radius: 6px 6px 0 0;
    background: #fff;
    width: 810px;
    height: 330px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
}



#CONTENT1 a:hover{
    color: #08f;
}

#CONTENT1 .u1{
    background: #fff;
    width: 775px;
    height: 140px;
    margin-left: 35px;
}

.CONTENT2{
    width: 810px;
    height: 560px;
    background: #fff;
    margin: -5px 0 0 0;
}

.CONTENT2 .CONT-txt {
    display: flex;
    width: 768px;
    height: 228px;
    margin: 10px auto;
}

.CONT-txt .text-txt {
    text-decoration: none;
    display: block;
    width: 728px;
    height: 192px;
    margin: 10px auto;
    padding: 18px 20px;
}

.text-txt{
    margin: 10px auto;
}

.text-txt:hover{
    background-color: #fafafc;
    border-radius: 4px;
}

.text-txt .title{
    font-size: 18px;
    line-height: 28px;
    color: #333;
    width: 728px;
    height: 28px;
    margin-bottom: 14px;
}

.text-txt .title span:hover{
    color: #08f;
}

.text-txt .txt-img{
    width: 728px;
    height: 120px;
    display: flex;
}

.text-txt div{
    margin-right: 20px;
}

.text-txt div img:hover{
    transition: filter 1s ;
    filter: brightness(130%);
}

.txt-img img{
    border-radius: 4px;
    width: 206px;
    height: 120px;
}

.text-txt .txt-footer{
    width: 728px;
    height: 20px;
    margin-top: 10px;
}

.txt-footer span{
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

#line{
    width: 786px;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin: 15px auto;
    display: flex;
}

#CONTENT1 .u1 li{
    width: 107px;
    height: 20px;
    float: left;
    list-style-type: none;
    margin: 1px 21px 15px 0;
}

#CONTENT1 .dot{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: black;
    vertical-align: 2.5px;
}

#CONTENT1 a{
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    text-decoration: none;
    color: black;
    background-repeat: no-repeat;
}

#CONTENT1 .a1{
    padding: 0 0 0 22px;
}

#CONTENT1 .a2{
    letter-spacing: 15px;
    margin-left: 0;
    padding: 0 0 0 22px;
}

#CONTENT1 .a3{
    letter-spacing: 7.5px;
    padding: 0 0 0 22px;
}

#CONTENT1 .a5{
    border: 1PX solid #ff3400;
    border-radius: 11px;
    padding: 1.5px 24px 0 8px;
    color: #ff3400;
}

#CONTENT1 .a5:hover{
    background: #ff3400;
    color: #fff;
}

#CONTENT1 .a9{
    color: rgba(255, 0, 0, 1);
}

#CONTENT1 .a7{
    color: rgba(255, 0, 0, 1);
    font-weight: 700;
}

#CONTENT1 .a31{
    letter-spacing: 7.5px;
}
#CONTENT1 .a21{
    letter-spacing: 15px;
}

.wrapper .w-rgh{
    position: absolute;
    width: 330px;
    top: 0;
    right: 0;
}

 .rgh-top{
    background: #fff;
    box-sizing: border-box;
    padding: 10px 3px;
    width: 330px;
    height: 217px;
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.95);
}

.rgh-top a{
    background-repeat: no-repeat;
    background-position: 50% 25%;
    text-decoration: none;
    color: black;
    text-align: center;
}

.rgh-top a:hover{
    background: rgba(0,0,0,.05);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    text-decoration: none;
    color: black;
    text-align: center;
}

.rgh-top a p{
    font: 14px arial;
    display: inline-block;
    vertical-align: -230%;
}

.rgh-top a:first-child{
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/dianying.png);
}

.rgh-top a:nth-child(2){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/dianshiju.png);
}

.rgh-top a:nth-child(3){
background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/zongyi.png);
}

.rgh-top a:nth-child(4){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/dongman.png);
}
.rgh-top a:nth-child(5){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/zhibo.png);
}

.rgh-top a:nth-child(6) {
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/youxi.png);
}

.rgh-top a:nth-child(7){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/diannaoshouyou.png);
}

.rgh-top a:nth-child(8){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/dianjing.png);
}

.rgh-top a:nth-child(9){
    background-image:  url(https://stdl.qq.com/stdl/qb/assets/navigate/img/zhubo.png);
}
.rgh-top a:nth-child(10){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/xiaohua.png);
}
.rgh-top a:nth-child(11){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/taobao.png);
}

.rgh-top a:nth-child(12){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/jingdong.png);
}

.rgh-top a:nth-child(13){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/tianmao.png);
}

.rgh-top a:nth-child(14){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/juhuasuan.png);
}

.rgh-top a:nth-child(15){
    background-image: url(https://stdl.qq.com/stdl/qb/assets/navigate/img/juhuasuan.png);
}

 .rgh-down{
    background: #fff;
    width: 330px;
    height: 859px;
    padding: 6px 0 10px;
    margin: 10px auto;
    border-radius: 6px;
}

.wrapper .rgh-top a{
    display: block;
    width: 64px;
    height: 64px;
    float: left;
}

.rgh-down ul{
    position: relative;
    margin: 14px 0 0 53px;
    width: 277px;
    height: 90px;
}

.rgh-down .hr{
    width:290px;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(0,0,0,.05);
}

.rgh-down ul img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: -37px;
}

.rgh-down ul li{
    font-size: 14px;
    list-style-type: none;
    width: 70px;
    height: 20px;
    float: left;
    margin: 0 21px 10px 0;
}

.rgh-down ul li .a3{
    letter-spacing: 7px;
}

.rgh-down ul li .a2{
    letter-spacing: 14px;
}

.rgh-down ul li .a5{
    color: #ff3400;
}

.rgh-down ul li a{
    left: 0;
    top: 0;
    margin-left: 0;
}

.rgh-down  a:hover{
    color: #08f;
}

.rgh-down  .a5:hover{
    color: #08f;
}

