@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1580450801895'); /* IE9 */
  src: url('iconfont.eot?t=1580450801895#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABlAAAAI3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUZAE2AiQDCAsGAAQgBYRtBzYbkAXIrrApw/VIkdqGCBHYu+f+1EEAPiKI1srq2TlE9UjyJaAGVBAXdhGeVGLjVIwkDaSjb/vpL39Mo3L+b/nV2ICaviNvdKWXpozzFQ7jUeoLCcJwNKAl87+8mKFuQc1UYZ3FWBvv4Jr6CTSQPKC5dVJlAM4G+qDLxtHI1uobxi5wCZcJ1M2YaJ2cHp5hKLNmBeKltwEMc05ZZpGqUK7ZmMUHJdX0LgW8D58f/6xiSFIqWDnnj48xbH5mxxRMgDsf4SKg7SUU2AIycV0bPNURjNZRD3YtgH1lBj+b7BvEXrWC/XVWehNMQd498V3BraYnkOPwGJjDZP4lNRqPvr5OraL5+bOWmvNxm2vuZlGp2rwOs6LVNgi2n/z5qLPzv9qYcuQb3w/LsgKqezEFf4PfsyfrQkufssqvNSfjUTMT6uqYwNa+37Gq0amjoWp0A+aK6RQKVUtoJregpGEbyqr2oW7TeXvDgOiIXMOGBkDo+oak7RMUum5oJn+gZOwfyrrRgbrbGBzYsBJ+fCwUKMUYfqKPuDCOUcdR5iPZOgskKwzprySV9+BytihGzlSQzLGkerMrVYNGOMcTuI6yjLEUTijSmVMt1/O5qbvTLOIcxo4JElAkhkKfkBdhBeMPV+PS4x8Rq5YJSEtDjfMVERVPHS3NLHqgZ1nRq+Febqm8sVaUMpAhWA6dwDiSyTBU1o9LkIiacSP8pbW5Pcj0lc3WV+QfkMtasNQp7NWF5itXB4X99IULGAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1580450801895') format('woff'),
  url('iconfont.ttf?t=1580450801895') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1580450801895#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuangyinhao:before {
  content: "\e6b5";
}

