body{
    background-image: url(./slide/cartoon/32.jpg);
    background-attachment: fixed;
}

.textarea{
    position: relative;
    width: 100%;
    /* min-width: 790px; */
    padding: 70px auto;
    box-sizing: border-box;
}

.container {
    columns: 1 auto;
    column-gap: 0;
    -webkit-columns: 1 auto;
    -moz-columns: 1 auto;
}

.container div{
    margin-top: -5px;
}

.container div img{
    width: 100%;
}


