@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1578902809012'); /* IE9 */
  src: url('iconfont.eot?t=1578902809012#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABmgAAAJUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0ewE2AiQDCAsGAAQgBYRtBy8boAXIDiVNF9mMIQRARATRfr/Ze/dRSyIaRbNoIpMogSoWG6VbE8vk979rmgLqscrzZVk1IlWUR/054FxKbkDPA3lgNYt6cwTCsQGX018BBTIPpFzGGDTWxDUAo4AD3JuiyIqxYeyCF3ifQJ1eCb6d0ekSisrsZYG4UGUBRQtBWWaZGqGqYW8Wjypq0lW6hTxEv48/uYiSVAp2zf75SA31f404OcVMOeMsIIQI6HAFBaYhmThuTO4KCMYOqBMOGoRkOfI1UpbYIY5qFeyvs8sbQDeUPZPcUzxqeQI5SfdC5jArX5ga2oqHj/LTV/Xxs3L/7m7sbHdVqsG63Y7S6kxneW0m9NLf/5wdMRQndfzVqfOr/87lm8Obg5XOf37p7XKjb/PtormLPYLRt5szrnnlP1q/0djz1mhPtKC8zKi4RM0eXcGfkQ/sy4bStqesyRvdSe+kpQl16lDC3jafU02dt5ENNTpvxl2tJ0OhxjCZWdOoqLeMKjXWUWfK2OF67aiAyLWYtAgQWpwhafKEQos7MrM+UNHlC1VaIoA6p9F+Zr3RUOPbFAQGNSy2sSrZFnGdLB5XFkCuGwLNKyNOBainRnA2lSlnxsACusQGryHnGCOYUNvEo+AxMAwbO9TWQGIphTEnn06Tpg+lJNtEcdsoIGBADSZqw1QSm4UEo5l45fsFQFZnENCOprpoBaA86uRYVkpmADmmswY1Pco7ngZZDsMQGEHZTNgomAUMBhvmNM/SAAmTokyIO/LSzjAyVJfa3mD+QClrwzancKYUKueC1QaEAAAA') format('woff2'),
  url('iconfont.woff?t=1578902809012') format('woff'),
  url('iconfont.ttf?t=1578902809012') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1578902809012#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanye:before {
  content: "\e725";
}

