@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1580462479307'); /* IE9 */
  src: url('iconfont.eot?t=1580462479307#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkQAAAJMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIXgE2AiQDCAsGAAQgBYRtBzYbigXIHpKkjwD0MAGiEhAAiKBYK3uWHxjk1ytADag4wMKFJZBSETbCRCiyrKNv6uYP8QfaIv9ADzKWjQKNI5jnAQdYYF3NWQHArupUESrABwXobpK9hLcBEvot+TyX05tAB3JXfaAc1940McC45wN0D4wiK6GMG6aXL2ggHxOoN4yCO+fHl1hORq8KxCNFYrFcLiaTsWIlFDUHi+b4KFclr5IvYj6E349/JlGRyFO6bf/OSYxtf9ZMWfqi9sKZT4gT0PEcKRYBGXFcm9uVFIzD6nMp48C+moOftVrNd4i9WgX763RjIxiEsnuSO8WtFhO4ranaAL2jNhNtj/nf69atnxe/39276F32/x+8XB7s8Zpd0Nfa1nqrTyq9UeJusYF/Vj5L3IrFEXwa/rF7WV35XzVk4OtX+xrK+gViql34g1/hqwa1qIRS55IMaHIg0XaKjnr1qEGhdt9YU9d5S6HSNSJQGkqRqkySGbuIXIMlFCrrqLfAHG/QYUiKrA7zFoDQ6kKi2WekWj1kxr7IdftRaI0U9U6j48IG03G/sG0jc1EEF0EVyOTW6Rai5ieUPJ3ZWWXIv6HtKElQg1GxeEET7Tm2TL40mV0OySYDNHgOdZ2g2aSi4A6K6942Ysjr3jTwZMQKttkQ40Ii4ERAJSAm7o92FUqff4IkHh1jtwzk0m+QzaHMDhRO9iAvOrPXwL28MvFJJmYuDiQ2YgAazEM6HQGtfp4KCVwDZUTmZkOYYamvbrC+wfi6Y1BPm5Mw7anGO57MyHFVpqSzWAwAAA==') format('woff2'),
  url('iconfont.woff?t=1580462479307') format('woff'),
  url('iconfont.ttf?t=1580462479307') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1580462479307#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 34px;
  height: 20px;
  line-height: 20px;
}

.icon-fuhaoshangla:before {
  content: "\e610";
}

