@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1580464365477'); /* IE9 */
  src: url('iconfont.eot?t=1580464365477#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJkAAsAAAAABhQAAAIXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAocPgE2AiQDCAsGAAQgBYRtBzMbZwXILrBt2JMAu8yBwjDgEwD0HCL4fr/fnvfuV4GkmhiiaBZN1vBGI1FJUGmJ0uk/kcns/9pQD2mvnwCRZJq0n+yf+G7Y67RMSoQIodELGYDMauA/DRC0fJ7L6U2gA5kf6ByvuWmsSZN6AcaBFOgeGEVWQhk3jF3wAh8TqBojye4v96dMRWKvCsSzY2mZSiEmSaxYFooNB5P4VFDO3rPxEX0/fq1GmUwhZ7cd3S7MzHjAKfP2n8uAECeg4wXkWJGRiLPG3IG8YFxe9XTBlIwkCQbGXnFUl2B/nd1YByMwHwx4KwXI4LGmSihMOkKkvKf3pcE2/FkSXwLBy2unedNe/4sEfvYfqcMClDfxB5+uGTiUDJ3tyZKmabRkn6s9ZEdVFf/sUNdvqn3oOqVQNjQhUDKaIVc2QyZ2BQU1aygq20LVstXxmh6SF6mCJS+A0PZGpukbubYPmdgvCob9UdSOHFUX0buwZi4eanuEGqMJ+hMcIwqF6+Na3HxA6+prlNdF/AUpdZIwUPrl4gpDpCW2pDdryCxAUBTAEjyHvh9BTJGLBis2czxSVdH0JsWIgkzNHoI0DJmA7gk4DJGQCMazWuXzB8hy5dNQx0BdeYFIypkdDCj6A8iVORw08CivpG4sQ4wJQCCRAFiCecjni4C4eZ4LGZjCnpCJjajOKDHUrGxvDf7uBFTZjiycHbnKPYbWw9HCYSYDAAAA') format('woff2'),
  url('iconfont.woff?t=1580464365477') format('woff'),
  url('iconfont.ttf?t=1580464365477') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1580464365477#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hengxian2:before {
  content: "\e506";
}

